.login {
  height: 100vh;
  margin: -10px;

  background-color: #dadbd3;
  align-items: center;
}

.header {
  display: flex;
  height: 200px;
  margin: -10px;
  background-color: #128c7e;
  align-items: center;
}

.header-logo > .logo {
  height: 50px;
  margin-left: 200px;
  margin-bottom: 50px;
}

.header-name {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: white;
  margin-left: 10px;
  margin-bottom: 50px;
}

.login-details {
  height: 60vh;
  max-width: 550px;
  background-color: white;
  z-index: 100;
  margin-top: -50px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  height: 300px;
}

.login-steps {
  padding: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.login-steps-head {
  font-size: 25px;
}

.login-steps-steps > ol > li {
  margin-bottom: 10px;
}

.login-button {
  display: flex;
  align-items: center;
  height: 100px;
}

Button {
  text-transform: none !important;
  border: none !important;
  font-weight: 800 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
  margin-top: 20px !important;
  background-color: #e1e2d8 !important;
}
